/* Import default fonts  */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);

:root {
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {
	margin: 0px;
}

html {
	background-color: #F6F6F6;
}

html,
button,
p,
h1,
h2,
ul,
li,
div {
	font-family: 'Roboto', sans-serif;
}

.top-menu {
	display: flex;
	align-items: center;
	align-content: center;
	height: 35px;
	color: #F6f6f6;
	background-color: #444;
}

.top-menu-internal {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 30px;
	width: 100%;
	max-width: 1040px;
	margin: auto;
}

.top-menu-left {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: start;
	width: 50%;
	height: 30px;
	float: left;
}

.top-menu-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: end;
	width: 50%;
	height: 30px;
	float: right;
	text-align: right;
}

.top-menu-left ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.top-menu-left li {
	height: 30px;
	line-height: 30px;
	float: left;
	margin: 0px 8px 0px;
}

.top-menu-left li a {
	text-decoration: none;
	color: #F6F6F6;
}

.top-menu-left li .active {
	color: #00e2f4;
}

.top-menu-search {
	height: 20px;
	width: 150px;
	outline: 0;
}

.top-menu-right a {
	display: flex;
	justify-content: end;
}

.top-menu-right input {
	display: flex;
	justify-content: end;
}

.top-menu-right img {
	margin-right: 4px;
}

.top-menu-2 {
	display: flex;
	justify-content: center;
	height: 95px;
	color: #000000;
	background-color: #fff;
}

.top-menu-2-internal {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 95px;
	max-width: 1040px;
}

.top-menu-logo {
	display: flex;
	width: 230px;
	height: 95px;
	float: left;
	align-items: center;
}

.top-menu-2 .top-banner {
	display: flex;
	justify-content: center;
	width: 650px;
	height: 80px;
	background-color: #444;
	align-items: center;
	align-content: center;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background-color: #444;
}

.menu-internal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	margin: auto;
	max-width: 1040px;
	background-color: #444;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu {
	display: block;
}

.menu a {
	color: #FFF;
	text-decoration: none;
}

.submenu {
	width: 150px;
	background-color: #444;
	position: absolute;
	display: none;
}

.submenu-item {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenu-item:hover {
	background-color: #3d65ac;
}

.last-news {
	height: 40px;
}

.last-news-internal {
	height: 40px;
	margin: auto;
	width: 100%;
	max-width: 1040px;
}

.last-news-area {
	display: flex;
	flex-direction: row;
	height: 28px;
	margin-top: 10px;
	background: #F2F2F2;
	border: 1px solid #CCC;
}

.title-last-news {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 28px;
	color: #F2F2F2;
	padding: 0px 10px 0px;
	background-color: #444;
}

.description-last-news {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 0px 10px 0px;
	background-color: #F2F2F2;
}



.container-internal {
	width: 100%;
	max-width: 1040px;
	margin: auto;
}

.left-side {
	width: 753px;
	float: left;
}

.right-side {
	width: 275px;
	min-height: 200px;
	float: left;
	margin-left: 12px;
}

.widget {
	border: 1px solid #CCC;
	background-color: #F2F2F2;
	margin-bottom: 10px;
}

.widget-title {
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	font-size: 14px;
	border-bottom: 1px solid #CCC;
	background-color: #DDD;
}

.widget-description {
	text-align: justify-all;
	padding: 5px 5px 5px;

}

.widget-social-medias {
	text-align: center;
}

.widget-description a {
	text-decoration: none;
}

.news_item {
	font-size: 14px;
	margin: 0px 5px;
	padding: 5px 0px;
	text-align: left;
	border-bottom: solid 1px #CCC;
}

.news_item a {
	text-decoration: none;
	color: #222;
}

.slides-show {
	height: 335px;
	background-color: #444;
	overflow: hidden;
}

.slideshow {
	height: 335px;
	overflow: hidden;
	margin-bottom: 20px;
}

.slideshow-container {
	width: 100000px;
	height: 335px;
	background-color: #DDD;
	transition: all 1s;
}

.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide-description {
	height: 70px;
	background-image: linear-gradient(to top, #444, transparent);
	background-size: auto 70px;
	margin-top: 265px;
}

.slide-description-title {
	font-size: 20px;
	color: #F2F2F2;
	padding: 20px 0px 0px 20px;
}

.slide-description-subtitle {
	font-size: 13px;
	color: #F2F2F2;
	padding: 0px 0px 0px 20px;
}

.slideswap {
	position: absolute;
	width: 200px;
	height: 20px;
	padding: 10px;
}

.slide-circle {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	background-color: #DDD;
	border-radius: 10px;
}

.slideswap .active {
	background-color: #3d65ac;
}

.news-content1 {
	width: 430px;
	height: 420px;
	float: left;
}

.news-content2 {
	width: 310px;
	height: 420px;
	float: left;
}

.newsitem {
	text-align: left;
	height: 88px;
	margin: 7px 0px;
}

.newsimage {
	width: 80px;
	height: 80px;
	border: 1px solid #DDD;
	padding: 3px;
	float: left;
}

.newsimage img {
	width: 80px;
	height: 80px;
}

.newstitle {
	width: 215px;
	margin-left: 6px;
	float: left;
	font-size: 16px;
}

.newsinfo {
	font-size: 12px;
	width: 215px;
	margin-left: 6px;
	color: #888;
	float: left;
}

.big-news {
	margin-left: 10px;
}

.big-news .newsimage {
	width: 390px;
	height: 222px;
}

.big-news .newsimage img {
	width: 390px;
	height: 222px;
}

.big-news .newstitle {
	font-size: 25px;
	width: 390px;
}

.big-news .newsinfo {
	font-size: 15px;
	width: 390px;
}

@media only screen and (min-width: 903px) and (max-width:1057px) {

	.menu-internal,
	.top-menu-internal,
	.top-menu-2-internal,
	.last-news-internal,
	.container-internal {
		max-width: 890px;
	}

	.left-side {
		width: 600px;
		float: left;
	}

	.news-content1 {
		max-width: 305px;
		height: 310px;
	}

	.news-content2 {
		width: 280px;
		height: 310px;
		float: left;
	}

	.newsitem {
		height: 68px;
		margin: 6px 0px;
	}

	.newsimage {
		width: 60px;
		height: 60px;
		border: 1px solid #DDD;
		padding: 3px;
		float: left;
	}

	.newsimage img {
		width: 60px;
		height: 60px;
	}

	.newstitle {
		width: 200px;
		margin-left: 6px;
		float: left;
		font-size: 15px;
	}

	.newsinfo {
		font-size: 11px;
		width: 200px;
		margin-left: 6px;
		color: #888;
		float: left;
	}

	.big-news {
		margin-left: 10px;
	}

	.big-news .newsimage {
		width: 265px;
		height: 170px;
	}

	.big-news .newsimage img {
		width: 265px;
		height: 170px;
	}

	.big-news .newstitle {
		font-size: 18px;
		width: 265px;
	}

	.big-news .newsinfo {
		font-size: 12px;
		width: 265px;
	}
}

@media only screen and (min-width:775px) and (max-width:902px) {

	.menu-internal,
	.top-menu-internal,
	.top-menu-2-internal,
	.last-news-internal,
	.container-internal {
		max-width: 768px;
	}

	.top-menu-2 .top-banner {
		display: none;
	}

	.top-menu-logo {
		float: none;
		margin: auto;
	}

	.right-side {
		display: none;
	}

	.left-side {
		width: auto;
		float: none;
	}

	.news-content1 {
		max-width: 440px;
		height: 330px;
	}

	.news-content2 {
		width: 280px;
		height: 330px;
		float: right;
	}

	.newsitem {
		height: 68px;
		margin: 6px 0px;
	}

	.newsimage {
		width: 60px;
		height: 60px;
		border: 1px solid #DDD;
		padding: 3px;
		float: left;
	}

	.newsimage img {
		width: 60px;
		height: 60px;
	}

	.newstitle {
		width: 200px;
		margin-left: 6px;
		float: left;
		font-size: 15px;
	}

	.newsinfo {
		font-size: 11px;
		width: 200px;
		margin-left: 6px;
		color: #888;
		float: left;
	}

	.big-news {
		margin-left: 10px;
	}

	.big-news .newsimage {
		width: 440px;
		height: 222px;
	}

	.big-news .newsimage img {
		width: 440px;
		height: 222px;
	}

	.big-news .newstitle {
		font-size: 22px;
		width: 440px;
	}

	.big-news .newsinfo {
		font-size: 14px;
		width: 440px;
	}
}


@media only screen and (max-width:775px) {

	.menu-internal,
	.top-menu-internal,
	.top-menu-2-internal,
	.last-news-internal,
	.container-internal {
		max-width: 320px;
	}

	.top-menu-left {
		display: none;
	}

	.top-menu-right {
		width: 100%;
	}

	.menu-internal {
		display: none;
	}

	.last-news {
		display: none;
	}

	.top-menu-2 .top-banner {
		display: none;
	}

	.top-menu-logo {
		float: none;
		margin: auto;
	}

	.right-side {
		display: none;
	}

	.left-side {
		width: auto;
		margin-top: 10px;
		float: none;
	}

	.news-content1 {
		max-width: 310px;
		height: auto;
	}

	.news-content2 {
		width: 285px;
		height: auto;
		margin: auto;
		float: none;
		clear: both;
		padding-top: 20px;
	}

	.newsitem {
		height: 68px;
		margin: 6px 0px;
		clear: both;
	}

	.newsimage {
		width: 60px;
		height: 60px;
		border: 1px solid #DDD;
		padding: 3px;
		float: left;
	}

	.newsimage img {
		width: 60px;
		height: 60px;
	}

	.newstitle {
		width: 180px;
		margin-left: 6px;
		float: left;
		font-size: 15px;
	}

	.newsinfo {
		font-size: 11px;
		width: 180px;
		margin-left: 6px;
		color: #888;
	}

	.big-news {
		margin-left: 5px;
	}

	.big-news .newsimage {
		width: 290px;
		height: 190px;
	}

	.big-news .newsimage img {
		width: 290px;
		height: 190px;
	}

	.big-news .newstitle {
		font-size: 22px;
		width: 290px;
	}

	.big-news .newsinfo {
		font-size: 14px;
		width: 290px;
	}
}