
/* Import default fonts  */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {

	margin: 0px;
}

html {

	background-color: #F6F6F6;]
}

html,
button,
p,
h1,
h2,
ul,
li,
div {

    font-family: 'Roboto', sans-serif;
}


.top-menu {
	display: flex;
	align-items: center;
	align-content: center;
	height: 35px;
	color: #F6f6f6;
	background-color: #444;
}

.top-menu-internal {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 30px;
	width: 100%;
	max-width: 1040px;
	margin: auto;
	
}

.top-menu-left {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: start;	
	width: 50%;
	height: 30px;
	float: left;
}

.top-menu-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: end;	
	width: 50%;
	height: 30px;
	float: right;
	text-align: right;

	
}

.top-menu-left ul {

	margin: 0px;
	padding: 0px;
	list-style: none;
}

.top-menu-left li {

	height: 30px;
	line-height: 30px;
	float: left;
	margin: 0px 8px 0px;
}

.top-menu-left li a {

	text-decoration: none;
	color: #F6F6F6;
}

.top-menu-left li .active {

	color: #00e2f4;
}

.top-menu-search {

	height: 20px;
	width: 150px;
	outline: 0;
}

.top-menu-right a {
	display: flex;
	justify-content: end;
}

.top-menu-right input {

	display: flex;
	justify-content: end;
}

.top-menu-right img{
	margin-right: 4px;
}


.top-menu-2 {
	display: flex;
	justify-content: center;
	height: 95px;
	color: #000000;
	background-color: #fff;	
}

.top-menu-2-internal {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 95px;
	max-width: 1040px;

}

.top-menu-logo {
	display: flex;
	width: 230px;
	height: 95px;
	float: left;
	align-items: center;
}

.top-menu-2 .top-banner {
	display: flex;
	justify-content: center;
	width: 650px;
	height: 80px;
	background-color: #444;
	align-items: center;
	align-content: center;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background-color: #444;
}

.menu-internal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	margin: auto;	
	max-width: 1040px;
	background-color: red;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.menu li {
	float: left;
	height:  40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display:block;

}

.menu a {
	color: #FFF;
	text-decoration: none;
}

.submenu {
	width: 150px;
	background-color: #444;
	position: absolute;
	display: none;
}

.submenu-item {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenu-item:hover {
	background-color: #666666;
}

.last-news {

	height: 40px;

}

.last-news-internal {

	height: 40px;
	margin: auto;
	width: 100%;
	max-width: 1040px;
}


.last-news-area {
	display: flex;
	flex-direction: row;	
	height: 28px;
	margin-top: 10px;
	background: #F2F2F2;
	border: 1px solid #CCC;
}

.title-last-news {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 28px;
	color: #F2F2F2;
	padding: 0px 10px 0px;
	background-color: #444;
}

.description-last-news {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 0px 10px 0px;
	background-color: #F2F2F2;
}


.container-internal {
	width: 100%;
	max-width: 1040px;
	margin: auto;
}

.left-side {
	width: 753px;
	min-height: 200px;
	float: left;
	background-color: #444;

}

.right-side {
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.widget {
	margin-bottom: 10px;
	border: 1px solid #CCC;
	background-color: #F2F2F2;

}

.widget-title {
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	font-size: 14px;
	border-bottom: 1px solid #CCC;
	background-color: #DDD;
}