
/* Import default fonts  */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body {

	margin: 0px;
}

html {

	background-color: #F6F6F6;]
}

html,
button,
p,
h1,
h2,
ul,
li,
div {

    font-family: 'Roboto', sans-serif;
}


.topo {

	height: 30px;
	color: #F6f6f6;
	background-color: #000000;
}

.topo-interna {

	width: 100%;
	height: 30px;
	max-width: 1040px;
	margin: auto;
}

.topo-left {

	width: 50%;
	height: 30px;
	float: left;
}

.topo-right {

	width: 50%;
	height: 28px;
	float: right;
	text-align: right;
	margin-top: 2px;
}

.topo-left ul {

	margin: 0px;
	padding: 0px;
	list-style: none;
}

.topo-left li {

	height: 30px;
	line-height: 30px;
	float: left;
	margin: 0px 8px 0px;
}

.topo-left li a {

	text-decoration: none;
	color: #F6F6F6;
}

.topo-left li .ativo {

	color: #00e2f4;
}

.topo-busca {

	height: 20px;
	width: 110px;
	outline: 0;
}

.topo-right a {

	float: right;
}

.topo-right input {

	float: right;
}

.topo-right img{
	margin-right: 4px;
}


.topo-2 {
	display: flex;
	justify-content: center;
	height: 95px;
	color: #000000;
	background-color: #fff;	
}

.topo-2-interna {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 95px;
	max-width: 1040px;

}

.topo-logo {
	display: flex;
	width: 230px;
	height: 95px;
	float: left;
	align-items: center;
}

.topo-2 .topo-banner {
	display: flex;
	width: 650px;
	height: 80px;
	background-color: #444;
	align-items: center;
	align-content: center;
}

.menu {

	height: 40px;
	background-color: #444;
}

.menu-interno {
	width: 100%;
	height: 40px;
	margin: auto;	
	max-width: 1040px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.menu li {
	float: left;
	height:  40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display:block;

}

.menu a {
	color: #FFF;
	text-decoration: none;
}

.submenu {
	width: 150px;
	background-color: #444;
	position: absolute;
	display: none;
}

.submenu-item {
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenu-item:hover {
	background-color: #666666;
}